<!DOCTYPE html>
<html>
	<head>
        <link rel="icon" href="/assets/admcp/images/favicon.png" />
		<link rel="stylesheet" href="/assets/admcp/css/admcp_style.css" />
		<meta charset="utf-8">
		<meta name="author" content="Bugeag George Tiberiu">
		<meta name="description" content="Web Technologies Project">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Esser AdminCP</title>
	</head>
    <body>
        <div class="admcp-header-bar"> 
            <button type="button" class="back-to-website" onclick="window.location='/index.html'"> Back to Website </button>
            <button type="button" class="admcp-logout-btn" onclick="window.location=../view.admcp.index.html"> Logout </button>
        </div>
        <div class="admcp-tables-body">
            <div class="admcp-left-bar"> 
                <div class="admc-left-menu">
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/dashboard/view.admcp.dashboard.html'"> Dashboard </button>
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/users_manager/view.admcp.users.manager.html'"> Manage Users </button>
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/users_manager/view.admcp.users.editor.html'"> Edit User </button>
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/web_settings/view.admcp.settings.manager.html'"> Website Settings </button>
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/web_settings/view.admcp.database.manager.html'"> Database Settings </button>
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/logs/view.admcp.user.logs.html'"> User Logs </button>
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/logs/view.admcp.login.logs.html'"> Login Logs </button>
                    <button type="button" class="admcp-menu-option" onclick="window.location='/application/views/admcp/logs/view.admcp.data.logs.html'"> Product Logs </button>
                </div>
            </div>
            <div class="admcp-rt-box">
                <div class="admcp-rt-cnt-box">
                    <div class="admcp-rt-content">
                        <h3 class="adm-rt-title"> Change Esser Title </h3>
                        <form type="POST" class="usr-edit-form">
                            <fieldset>
                            <legend></legend>    
                                <div class="ctrl-group">                                
                                    <label> Old Esser Title </label> <input type="text" name="OldEsserTitle" id="old-esser-name" value="Esser" disabled>
                                </div>
                                <div class="ctrl-group">                                
                                    <label> Input New Title </label> <input type="text" name="NewEsserTitle" id="new-esser-name" value="">
                                </div>
                            </fieldset>
                            <div class="ctrl-group">
                                <button type="button" class="admcp-save-btn" onclick="changeEsserTitle('new-esser-name')"> Save </button>
                                <button type="button" class="admcp-save-btn" onclick="window.location='/application/views/admcp/dashboard/view.admcp.dashboard.html'"> Cancel </button>
                            </div>
                        </form>
                        <h3 class="adm-rt-title"> Change Root AdminCP User </h3>
                        <form type="POST" class="usr-edit-form">
                            <fieldset>
                            <legend></legend>    
                                <div class="ctrl-group">                                
                                    <label> Old Root User </label> <input type="text" name="OldRootUser" id="old-root-name" value="Edward" disabled>
                                </div>
                                <div class="ctrl-group">                                
                                    <label> Input New User </label> <input type="text" name="NewRootUser" id="new-root-name" value="">
                                </div>
                            </fieldset>
                            <div class="ctrl-group">
                                <button type="button" class="admcp-save-btn" onclick="changeRootUser('new-root-name')"> Save </button>
                                <button type="button" class="admcp-save-btn" onclick="window.location='/application/views/admcp/dashboard/view.admcp.dashboard.html'"> Cancel </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>