.Groups{
    position: inherit;
    text-align: center;
    background-color: azure;
}

.Title{
    padding: 2% 2%;
    font-size: 35px;
    position: relative;
    top: 5%;
    background-color: skyblue;
    color: white;
    width:96%;
    text-align: center;
}

.Menu{
    position: sticky;
    text-align: center;
    width: 100%;
}

.MenuButton{
    display: inline-block;
    width: 10%;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 35%;
    transition-duration: 0.2s;
}

.MenuButton:hover{
    background-color: darkorange;
}

.ProductButton{
    display: inline-block;
    width: 10%;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 35%;
    transition-duration: 0.2s;
    float: right;
}

.ProductButton:hover{
    background-color: darkorange;
}

.Group{
    width: 92%;
    padding: 2% 2% 2% 2%;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    border-radius: 25%;
    color: aquamarine;
}

.GroupName{
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    top: 5%;
    background-color: skyblue;
    color: white;
    width:10%;
    text-align: left;
    width: 100%;
    
}

/* Expand/Collapse for #1 group - hardcoded */

#Contents1{
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    top: 5%;
    color: white;
    width:10%;
    text-align: left;
    width: 100%;
}

#Contents1, #show1, #hide1:target {
    display: none; 
}

#hide1:target + #show1, #hide1:target ~ #Contents1 {
    display: initial; 
}

/* Expand/Collapse for #2 group - hardcoded */

#Contents2{
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    top: 5%;
    color: white;
    width:10%;
    text-align: left;
    width: 100%;
}

#Contents2, #show2, #hide2:target {
    display: none; 
}

#hide2:target + #show2, #hide2:target ~ #Contents2 {
    display: initial; 
}

.Product{
    padding: 2% 2%;
    font-size: 16px;
    position: relative;
    top: 5%;
    background-color: firebrick;
    color: white;
    width:100%;
    text-align: center;
    overflow: hidden;
    
}

.ProductIcon{
    padding: 2% 2%;
    float:left;
}

.ProductName{
    padding: 2% 2%;
    float:left;
}

.ProductQuantity{
    padding: 2% 2%;
    float:left;
}

.ProductAvailable{
    padding: 2% 2%;
    float:left;
}
