.main{
	background-color: #80ced6;
}

.nested {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display:grid;
	grid-template-columns:1fr;
	grid-gap: 1em;
	padding: 1em;
}

.nested > div:nth-child(1){
	color: white;
	background:#618685;
	padding:1em;
}

.nested > div{
	font-size: 1.5vw;
	border-radius: 10% 10%;
	background:#d5f4e6;
	padding:1em;
}

.nested > div:hover{
	background:#fefbd8;
}

.nested > div:nth-child(1):hover{
	background:#618685;
}

.menu {
	/*visibility: hidden;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display:grid;
	grid-template-columns:1fr;
	grid-gap: 1em;
	padding: 1em;
}

.menu > div:nth-child(1){
	color: white;
	background:#618685;
	padding:1em;
}

.menu > div:nth-child(2){
	color: white;
	background:#618685;
	padding:1em;
}

.menu > div{
	font-size: 1.5vw;
	border-radius: 10% 10%;
	background:#d5f4e6;
	padding:1em;
}

.menu > div:hover{
	background:#fefbd8;
}

.menu > div:nth-child(1):hover{
	background:#618685;
}

.menu > div:nth-child(2):hover{
	background:#618685;
}

.menu-button {
	/*visibility: hidden;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.5vw;
	text-align: center;
    display:grid;
	grid-template-columns:25% 1fr 25% 25%;
	grid-gap: 1em;
	padding: 1em;
}

/*.menu-button > div:nth-child(1){
	grid-area: 1/1/1/2;
	color: white;
	background:#618685;
	padding:1em;
}

.menu-button > div:nth-child(2){
	color: black;
	grid-area: 1/3/row1-end/col3-end;
	background:#d5f4e6;
	padding:1em;
}

.menu-button > div:nth-child(3){
	color: black;
	grid-area: 1/col4-start/row1-end/col4-end;
	background:#d5f4e6;
	padding:1em;
}*/

.menu-button > div{
	grid-area: 1/3/1/2;
	font-size: 1.5vw;
	border-radius: 10% 10%;
	background:#d5f4e6;
	padding:1em;
}

.menu-button > div:hover{
	background:#fefbd8;
}

.menu-button > div:nth-child(1):hover{
	background:#618685;
}

.expandable {
	display: none;
	border-radius: 10% 10%;
	background:#d5f4e6;
}