* {
    box-sizing: border-box;
}
/* -------------------------------------- main containter ------------------------------------------*/
#main-user-landing-page {
    font-family: "Lato", sans-serif;

    background-image: url("/public/resources/images/home/main_page_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction:column;
    flex:1;
}

/* -------------------------------------- header  ------------------------------------------------- */
.container-header-user-landing-page{
    height: 15vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 1px solid black;
    /*background-color: rgba(0,63,145, 0.9)*/
}
.content-header-user-landing-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#name-header-user-landing-page{
    font-size: 6vh;
}
#under-title-header-user-landing-page{
    font-size: 3vh;
}


/* -------------------------------------  notifications ---------------------------------------------- */
.notification-container-user-landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:7%;

}
#notification-button{
    font-size:180%;
    cursor:pointer;
}



/* -------------------------------------- content -------------------------------------------------*/
.container-content-user-landing-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;

}
.items-container-user-landing-page, .users-container-user-landing-page {
    padding: 10px;
    width: 40%;
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    border: 1px solid black;
    margin:1%;

}

/*-----------------------------------  Products ------------------------------------*/
.container-title-items{
    height: 5%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    margin-top:3%;
    padding:20px;
}
.container-title-items > div{
    font-size: 200%;

}
.title-statistics-items, .title-statistics-users{
    padding:20px;
}

.header-row-items{
    display:flex;
    flex-direction:row;
    border: 2px solid black;
    justify-content: space-evenly;
    font-size: 150%;
}
.header-row-items > div{
    border-right: 1px solid black;
    border-left: 1px solid black;
    width:100%;
    text-align: center;
}

.items-content-user-landing-page{
    width: 100%;
    border: 1px solid black;
    display:grid;
    grid-template-columns: auto auto auto;
    height: 75%;
}


.items-content-user-landing-page>div{
    border: 1px solid black;
    margin:2px;
    text-align: center;
}
.header-items, .body-items{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}


.body-statistics-items,.body-statistics-users{

    border: 1px solid black;
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.body-statistics-items-element,.body-statistics-users-element{
    margin:3px;
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:4px;
}
.body-statistics-item-element >div,.body-statistics-user-element >div{
    text-align:center;
    font-size:130%;
}


.statistics-users-container-user-landing-page,.statistics-items-container-user-landing-page{
    width: 100%;
    margin-top:5%;
    display:flex;
    flex-direction:column;
}
.title-statistics-users,.title-statistics-items{
    height:20%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 150%
}



/*---------------------------------------------     Users --------------------------------------*/

.container-title-users{
    height: 5%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    margin-top:3%;
    padding:20px;

}
.container-title-users > div{
    font-size: 200%;
}
/*
.users-content-user-landing-page{
 max-height:800px;
 overflow-y:scroll;
}
 */

.users-content-user-landing-page{

    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    height:75%;
}
.users-content-user-landing-page>div{
    border: 1px solid black;
    margin:2px;
    text-align: center;
}

.header-users, .body-users{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

/* ------------------------------   Media screen  -------------------------------------------------------*/
@media screen and (max-width: 1800px) {
.items-container-user-landing-page, .users-container-user-landing-page{
    width:48%;
}

}
@media screen and (max-width: 1250px) {
    .container-content-user-landing-page{
        flex-direction: column;
    }
    .container-content-user-landing-page >div{
        width:100%;
    }

    .header-items>div, .body-items>div,.header-users>div, .body-users>div{
        margin-bottom :3px;
        margin-top:3px;
        text-align: center;
        font-size: 110%;
    }
    .container-title-items,.container-title-users,.title-statistics-items, .title-statistics-users{
        padding:12px;
    }
}

@media screen and (max-width: 650px) {

}
@media screen and (max-width: 550px) {
    #content-row-statistics-user-last-item >div{
        height:100%;
    }
    #top-nav-bar-user-landing-page{
        width:70%;
        margin-left:30%;
    }
    #name-header-user-landing-page{
        font-size: 5vh;
    }
    #under-title-header-user-landing-page{
        font-size: 2vh;
    }


}

@media screen and (max-width: 475px) {

    #under-title-header-user-landing-page{
        width:100%;
    }
    #under-title-header-user-landing-page >div{
        width:100%;
        text-align:center;
    }
    #top-nav-bar-user-landing-page{
        width:80%;
        margin-left:20%;
    }
}




