body{
	padding: 2em;
}

.main-frame{
	display: grid;
	grid-template-columns: 25% 75%;
	grid-gap: 1em;
	padding: 1em;
}

.page-title{
	width: max-content;
	background: #084887;
	color: azure;
	padding: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	text-align: center;
}

.group-list{
	display: grid;
	grid-template-columns: 1fr;
	background: #909cc2;
	color: aliceblue;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	row-gap: 1em;
	padding: 1em;
}

.group-list-wrap{
	display: grid;
	grid-template-columns: 1fr;
	background: #909cc2;
	color: aliceblue;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}


.group-list-button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	background-color: #f7f5fb;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	height: 60px;
}

.group-list-button:hover{
	background: #084887;
	color: #f58a07;
}

.group-list-button:active{
	background: #f58a07;
	color: #084887;
}

.group-display{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "buton buton"
                         "user adauga";
	background: #f58a07;
	color: ghostwhite;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: center;
}

.group-display-button{
	display: grid;
	grid-template-columns: 1fr;
	grid-area: adauga;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
	margin: 1em;
}

.group-display-button-add{
	grid-area: buton;
	background: #f9ab55;
	color: ghostwhite;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
	margin: 1em;
}

.group-display-element{
	display: grid;
	grid-template-columns: 1fr ;
	grid-area: user;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
	margin: 1em;
}

.group-display-user{
	background: #f9ab55;
	color: ghostwhite;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: center;
	padding: 1em;
	margin: 1em;
}

.display-button{
	background: #f9ab55;
	color: ghostwhite;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: center;
	padding: 1em;
	margin: 1em;
}

