* {
    box-sizing: border-box;
}
/* -------------------------------------- main containter ------------------------------------------*/
#main-user-landing-page {
    font-family: "Lato", sans-serif;

    background-image: url("/public/resources/images/home/main_page_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction:column;
    flex:1;
}

/* -------------------------------------- header  ------------------------------------------------- */
.container-header-user-landing-page{
    height: 15vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 1px solid black;
}
.content-header-user-landing-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#name-header-user-landing-page{
    font-size: 6vh;
}
#under-title-header-user-landing-page{
    font-size: 3vh;
}


/* -------------------------------------  notifications ---------------------------------------------- */
.notification-container-user-landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:3%;

}
#notification-button{
    font-size:180%;
    cursor:pointer;
    background-color: #666;
    color:black;
}

#notification-button:hover {
    background-color: black;
    color:white;
}

#notification-button:active {
    background-color: #666;
    transform: translateY(5px);
}

/* -------------------------------------- content -------------------------------------------------*/
.container-content-user-landing-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}
.items-container-user-landing-page, .users-container-user-landing-page {
    padding: 10px;
    width: 40%;
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    border: 1px solid black;
    margin:1%;
    padding: 40px 20px 40px 20px;

}

/*-----------------------------------  Products ------------------------------------*/
.container-title-items{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    margin-top:3%;
    padding:15px;
}
.container-title-items > div{
    font-size: 150%;

}
.title-statistics-items, .title-statistics-users{
    padding:15px;
}

.items-content-user-landing-page{
    width: 100%;
    border: 1px solid black;
    display:grid;
    grid-template-columns: auto auto auto;
}


.items-content-user-landing-page>div{
    border: 1px solid black;
    margin:3px;
    text-align: center;
}


.header-items, .body-items{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}


.body-statistics-items,.body-statistics-users{

    border: 1px solid black;
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.body-statistics-items-element,.body-statistics-users-element{
    margin:3px;
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:4px;
}
.body-statistics-item-element >div,.body-statistics-user-element >div{
    text-align:center;
    font-size:130%;
}


.statistics-users-container-user-landing-page,.statistics-items-container-user-landing-page{
    width: 100%;
    margin-top:5%;
    display:flex;
    flex-direction:column;
}
.title-statistics-users,.title-statistics-items{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 150%
}



/*---------------------------------------------     Users --------------------------------------*/

.container-title-users{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    margin-top:3%;
    padding:15px;

}
.container-title-users > div{
    font-size: 150%;
}

.users-content-user-landing-page{

    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
}
.users-content-user-landing-page>div{
    border: 1px solid black;
    margin:3px;
    text-align: center;
}

.header-users, .body-users{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

/*--------------------------------- items container display:none */

#container-hidden-items{
    display:none;
}
.hidden-item{
    display:none;
}


/*---------------------------------------------------                   pagination items      -----------------------------------------             */

.items-pagination-container{
    margin-top:10px;
    width: 20%;
    margin-left:80%;
    display: flex;
    justify-content: space-evenly;
}

.items-pagination-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn_next_items, #btn_prev_items,#btn_next_users, #btn_prev_users{
    border:1px solid black;
    font-size: 100%;
    cursor:pointer;
}
#btn_next_items:hover, #btn_prev_items:hover,#btn_next_users:hover, #btn_prev_users:hover{
    border:1px solid black;
    font-size: 100%;
    cursor:pointer;
    background-color: black;
    color:white;
}
#btn_next_items:active,#btn_next_users:active{
    background-color: #666;
    transform: translateX(10px);
}

#btn_prev_items:active, #btn_prev_users:active{
    background-color: #666;
    transform: translateX(-10px);
}
#page_users,#page_items{
    border:1px solid black;
    font-size: 130%;
    padding:5px;
}


/*--------------------------------- users container display:none ------------------------------------------------------------------*/

#container-hidden-users{
    display:none;
}
.hidden-user{
    display:none;
}


/*---------------------------------------------------    pagination items      -----------------------------------------             */

.users-pagination-container{
    margin-top:10px;
    width: 20%;
    margin-left:80%;
    display: flex;
    justify-content: space-evenly;
}

.users-pagination-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-row-statistics-users>div,.body-statistics-users-element>div,
.header-row-statistics-items>div,.body-statistics-items-element>div{
    font-size: 120%;
}
.header-items>div,.body-items>div,
.header-users>div,.body-user>div{
    font-size:120%;
}
/* ------------------------------   Media screen  -------------------------------------------------------*/
@media screen and (max-width: 1800px) {
.items-container-user-landing-page, .users-container-user-landing-page{
    width:48%;
}

}
@media screen and (max-width: 1250px) {
    .container-content-user-landing-page{
        flex-direction: column;
    }
    .container-content-user-landing-page >div{
        width:100%;
    }

    .header-items>div, .body-items>div,.header-users>div, .body-users>div{
        margin-bottom :3px;
        margin-top:3px;
        text-align: center;
        font-size: 110%;
    }
    .container-title-items,.container-title-users,.title-statistics-items, .title-statistics-users{
        padding:12px;
    }
}

@media screen and (max-width: 650px) {

}
@media screen and (max-width: 550px) {

    #top-nav-bar-user-landing-page{
        width:70%;
        margin-left:30%;
    }
    #name-header-user-landing-page{
        font-size: 5vh;
    }
    #under-title-header-user-landing-page{
        font-size: 2vh;
    }


}

@media screen and (max-width: 475px) {

    #under-title-header-user-landing-page{
        width:100%;
    }
    #under-title-header-user-landing-page >div{
        width:100%;
        text-align:center;
    }
    #top-nav-bar-user-landing-page{
        width:80%;
        margin-left:20%;
    }
}




