#nav-mobile-container {
    width: 90%;
    height: 10%;
    position: relative;
    list-style-type: none;
    margin: 20px;
    padding: 30px;
    float: left;
    display: inline-block;
}

#nav-mobile-container ul {
    list-style-type: none;
}

#main_nav {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    background: #f1f1f1;
    width: 85%;

    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 8px 2px #000;
    z-index: 1;
}

.with_nav #main_nav {
    display: block;
    float: left;
    height: 300%;
}

.access_aid {
    display: none;
}

#access_nav {
    display: none;    /* TO DO: none! */
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: white 10px 10px / 20px 20px no-repeat;

    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
    background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
    z-index: 2;
}

.with_nav #access_nav {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}

.nav-mobile-button {
    display:block;
    height: 20%;
    margin: 2rem;
    padding: 5% 10%;
    color: #555;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 70%;
}

.active .nav-mobile-button {
    background-color: lightgray;
}

