<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/normal/css/nav_gmt.css">
        <link rel="stylesheet" href="/assets/normal/css/pmc_groups_of_users_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <!-- Register a new group Form -->
    
    <div class="modal" id="groupForm">
        <div class="groupFormContent">
            <div class="Title">Add a new group</div>
            <form>
            <div class="formElement">Name:</div>
            <input type="text" name="newGroupName" value="NewGroup" class="formElement"><br>
            </form>
            <a href="#">
                <button class="closeButton FormButton">Add Group</button>
            </a>
            <a href="#">
                <button class="closeButton FormButton">Cancel</button>
            </a>
        </div>
    </div>
    
    <!-- Register a new product Form -->
    
    <div class="modal" id="userForm">
        <div class="productFormContent">
            <div class="Title">Add a new group</div>
            <form>
            <div class="formElement">Name:</div>
            <input type="text" name="newProductName" value="Name" class="formElement"><br>
            <div class="formElement">Prename:</div>
            <input type="text" name="newProductQuantity" value="Prename" class="formElement"><br>
            <div class="formElement">Groups:</div>
            <input type="text" name="newProductQuantity" value="Groups" class="formElement"><br>    
            <div class="formElement">Tile Image:</div>
            <button class="FormButton">Browse</button>
            </form>
            <a href="#">
                <button class="FormButton closeButton ">Add Product</button>
            </a>
            <a href="#">
                <button class="FormButton closeButton ">Cancel</button>
            </a>
        </div>
    </div>
    
    <body>
        <!-- Section to be shown -->
        
        <div id="nav-mobile-container">
            <p><a href="#mobile_nav" id="access_nav" class="access_aid">Navigation</a></p>

            <nav id="mobile_nav">
                <ul>
                    <li><a id="nav-mobile-username">John Doe</a></li>
                    <li><a class="nav-mobile-button" href="../login/view.user.landing.page.html">Home</a></li>
                    <li><a class="nav-mobile-button" href="../alerts/view.alerts.html">Alerts</a></li>
                    <li><a class="nav-mobile-button" href="../logs/view.logs.html">Logs</a></li>
                    <li><a class="nav-mobile-button" href="../items/view.items.html">Products</a></li>
                    <li class="active"><a class="nav-mobile-button" href="../users/view.users.html">Groups</a></li>
                    <li><a class="nav-mobile-button" href="../login/view.login.html">Logout</a></li>
                </ul>
            </nav>

        </div>

        <span class="sidenav">
            <a id="nav-username">John Doe</a>
            <a class="nav-button" href="../login/view.user.landing.page.html">Home</a>
            <a class="nav-button" href="../alerts/view.alerts.html">Alerts</a>
            <a class="nav-button" href="../logs/view.logs.html">Logs</a>
            <a class="nav-button" href="../items/view.items.html">Products</a>
            <span class="active"><a class="nav-button" href="../users/view.users.html">Groups</a></span>
            <a class="nav-button" href="../login/view.login.html">Logout</a>
        </span>   
        
        <div class="UserGroups">
            <div class="Title">User Groups</div>
            <div class="Menu">
                <a href="#groupForm"><button class="MenuButton" id="addGroup">Add Group</button>
                </a>
                <button class="MenuButton" id="deleteGroup">Delete Group</button>
            </div>
            <div class="UserGroup">
                <a href="#userForm"><div class="GroupButton">Add User</div></a>
                <a href="#hide1" id="hide1">
                    <div class="GroupName">+ Admins</div>
                </a>
                <a href="#" id="show1">
                    <div class="GroupName">- Admins</div>
                </a>
                <div id="Contents1">
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user1.jpg" alt="Cobzaru">
                        <div class="UserName">Cobzaru</div>
                        <div class="UserPrename">Petru</div>
                        <div class="UserAvailable">PC Parts</div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user2.jpg" alt="CPU">
                        <div class="UserName">Bugeag</div>
                        <div class="UserPrename">George</div>
                        <div class="UserAvailable">PC Parts</div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user3.jpg" alt="CPU">
                        <div class="UserName">Palii</div>
                        <div class="UserPrename">Marcu</div>
                        <div class="UserAvailable">Fruits</div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user4.jpg" alt="CPU">
                        <div class="UserName">Mutu</div>
                        <div class="UserPrename">Gheorghita</div>
                        <div class="UserAvailable"> - </div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                </div>
            </div>
            <div class="UserGroup">
                <a href="#userForm"><div class="GroupButton">Add User</div></a>
                <a href="#hide2" id="hide2">
                    <div class="GroupName">+ Users</div>
                </a>
                <a href="#" id="show2">
                    <div class="GroupName">- Users</div>
                </a>
                <div id="Contents2">
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user5.jpg" alt="CPU">
                        <div class="UserName">Popescu</div>
                        <div class="UserPrename">Andrei</div>
                        <div class="UserAvailable">-</div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user6.jpg" alt="CPU">
                        <div class="UserName">Apetrei</div>
                        <div class="UserPrename">Daniel</div>
                        <div class="UserAvailable">PC Parts</div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user7.jpg" alt="CPU">
                        <div class="UserName">Butnaru</div>
                        <div class="UserPrename">Georgiana</div>
                        <div class="UserAvailable">Fruits</div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                    <div class="User">
                        <img class="UserIcon" src="/assets/normal/images/user8.jpg" alt="CPU">
                        <div class="UserName">Apostol</div>
                        <div class="UserPrename">Alina</div>
                        <div class="UserAvailable">Fruits</div>
                        <button class="UserButton">Modify Rank</button>
                        <button class="UserButton">Remove User</button>
                        <button class="UserButton">Modify Data</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/assets/normal/js/nav_gmt.js"></script>
    <footer>
        
    </footer>
</html>