* {
    box-sizing: border-box;
}

body {

    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url("store.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    flex: 70%;
    margin-left: 150px;
    height:170px
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin:80px 80px 80px 230px ;


}

.mainCointainers {
    background-color: #aaa;
    padding: 20px;
    margin-bottom: 10px;
    margin-top:16px;
}

.notif{
    padding: 0;
    flex:80%;
}

.footer {
    padding: 5px;
    margin-left: 150px;
    text-align: right;
    background: #1abc9c;
    height:50px;

}
#ora,#data{
    line-height:0.2;
}
.sideBarNav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #85bbba;
    overflow-x: hidden;
    padding-top: 15%;
}

.sideBarNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sideBarNav a:hover:not(:first-child) {
    color: #f1f1f1;
}




/*       notifications  */
#answerNotif,
#showNotif,
#hideNotif:target{
    display: none;

}

#hideNotif:target + #showNotif,
#hideNotif:target ~ #answerNotif {
    display: initial;
}

#showNotif, #hideNotif {
    padding: 10px;
    border: 1px;
    background-color: #879180;

}

#answerNotif {
    margin-bottom: 4px;
}

#success,#warning,#almost-empty{
    background-color: rgba(135, 145, 128, 0.58);
    text-align: left;
    padding: 1px;
    border: 1px black;
}
#success{
    margin-top:14px;
}


@media screen and (max-width: 850px) {
    .sideBarNav {

    }
}