<!DOCTYPE html>
<html>
	<head>
        <link rel="icon" href="/assets/normal/images/favicon.png" />
		<link rel="stylesheet" href="/assets/normal/css/bg_style.css" />
		<meta charset="utf-8">
		<meta name="author" content="Bugeag George Tiberiu">
		<meta name="description" content="Web Technologies Project">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Esser</title>
	</head>
	<body>
        <div class="main-container">         
            <div class="lgn-box">
                <h1 class="main-text"> Recover My Password </h1>
                <form class="lgn-form" action="/application/controller/recover_password_script.php">                    
                    <p class="main-text"> Type in your username: </p>
                    <input class="fill-box" type="text" name="uname" value="" placeholder="Enter Your Username" required="required"/>	  	                    
		  	   	    <input type="submit" class="lgn-view-btn" value="Sumbit">
                    <button type="button" class="lgn-view-btn" onclick="window.location='/index.html'">Cancel</button>
		  	   </form>
            </div>
        </div> 
	</body>
</html>