<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
    <link rel="stylesheet" type="text/css" href="/assets/normal/css/nav_gmt.css">
</head>

<body id="body">

<div id="nav-mobile-container">
    <p><a href="#mobile_nav" id="access_nav" class="access_aid">Navigation</a></p>

    <nav id="mobile_nav">
        <ul>
            <li><a id="nav-mobile-username">John Doe</a></li>
            <li><a class="nav-mobile-button" href="../index.phtml">Home</a></li>
            <li class="active"><a class="nav-mobile-button" href="ts.html">Alerts</a></li>
            <li><a class="nav-mobile-button" href="../logs">Logs</a></li>
            <li><a class="nav-mobile-button" href="../items/view.items.html">Products</a></li>
            <li><a class="nav-mobile-button" href="../users/view.users.html">Groups</a></li>
            <li><a class="nav-mobile-button" href="#">Generate Report</a></li>
            <li><a class="nav-mobile-button" href="../../home/login/login.phtml">Logout</a></li>
        </ul>
    </nav>

</div>

<span class="sidenav">
    <a id="nav-username">John Doe</a>
    <a class="nav-button" href="../index.phtml">Home</a>
    <span class="active"><a class="nav-button" href="ts.html">Alerts</a></span>
    <a class="nav-button" href="../logs/view.logs.html">Logs</a>
    <a class="nav-button" href="../items/view.items.html">Products</a>
    <a class="nav-button" href="../users/view.users.html">Groups</a>
    <a class="nav-button" href="#">Generate Report</a>
    <a class="nav-button" href="../../home/login/login.phtml">Logout</a>
</span>

<div class="main-div">

    <div class="container">
        <h1>Alerts!</h1>
    </div>


    <ul>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>0</strong></span> <a href="#">Coffee bags</a> left in
            <a href="#">Office 5</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Batteries</a> left in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Apples</a> left  in
            <a href="#">Office 1</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Sheets</a> left  in
            <a href="#">Office 9</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Free Bananas</a> left  in
            <a href="#">Office 6</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Chickens</a> left  in
            <a href="#">Office 8</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Guitars</a> left  in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Mondays</a> left  in
            <a href="#">Office 10</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Lions</a> left  in
            <a href="#">Office 15</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>0</strong></span> <a href="#">Coffee bags</a> left in
            <a href="#">Office 5</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Batteries</a> left in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Apples</a> left  in
            <a href="#">Office 1</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Sheets</a> left  in
            <a href="#">Office 9</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Free Bananas</a> left  in
            <a href="#">Office 6</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Chickens</a> left  in
            <a href="#">Office 8</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Guitars</a> left  in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Mondays</a> left  in
            <a href="#">Office 10</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Lions</a> left  in
            <a href="#">Office 15</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>0</strong></span> <a href="#">Coffee bags</a> left in
            <a href="#">Office 5</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Batteries</a> left in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Apples</a> left  in
            <a href="#">Office 1</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Sheets</a> left  in
            <a href="#">Office 9</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Free Bananas</a> left  in
            <a href="#">Office 6</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Chickens</a> left  in
            <a href="#">Office 8</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Guitars</a> left  in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Mondays</a> left  in
            <a href="#">Office 10</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Lions</a> left  in
            <a href="#">Office 15</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>0</strong></span> <a href="#">Coffee bags</a> left in
            <a href="#">Office 5</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Batteries</a> left in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Apples</a> left  in
            <a href="#">Office 1</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Sheets</a> left  in
            <a href="#">Office 9</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Free Bananas</a> left  in
            <a href="#">Office 6</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Chickens</a> left  in
            <a href="#">Office 8</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Guitars</a> left  in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Mondays</a> left  in
            <a href="#">Office 10</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Lions</a> left  in
            <a href="#">Office 15</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>0</strong></span> <a href="#">Coffee bags</a> left in
            <a href="#">Office 5</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Batteries</a> left in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Apples</a> left  in
            <a href="#">Office 1</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Sheets</a> left  in
            <a href="#">Office 9</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Free Bananas</a> left  in
            <a href="#">Office 6</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Chickens</a> left  in
            <a href="#">Office 8</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Guitars</a> left  in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Mondays</a> left  in
            <a href="#">Office 10</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Lions</a> left  in
            <a href="#">Office 15</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>0</strong></span> <a href="#">Coffee bags</a> left in
            <a href="#">Office 5</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Batteries</a> left in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Apples</a> left  in
            <a href="#">Office 1</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Sheets</a> left  in
            <a href="#">Office 9</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Free Bananas</a> left  in
            <a href="#">Office 6</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Chickens</a> left  in
            <a href="#">Office 8</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Guitars</a> left  in
            <a href="#">Office 2</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Mondays</a> left  in
            <a href="#">Office 10</a> !</li>
        <li> <u>28-02-2018 19:00:01</u>
            There are <span style="color: red"><strong>2</strong></span> <a href="#">Lions</a> left  in
            <a href="#">Office 15</a> !</li>
    </ul>
</div>

<div id="footer">
    <a href="#" class="footer_elem">Random</a>
    <a href="#" class="footer_elem">Sitemap</a>
    <a href="#" class="footer_elem">© 2018 Esser</a>
</div>

</body>
<script src="/assets/normal/js/nav_gmt.js"></script>
</html>