body {
	font-family: "Arial", Helvetica, serif;
    background: rgb(25, 28, 31) center center no-repeat fixed;
	background-size: cover;
    margin: 0 auto;
	border: 0;
}

.main-container {
    text-align: center;
    margin: 5% auto;
    border: 0 solid rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    box-shadow: 1px 4px 4px rgba(0, 1, 2, 0.8);
    position: relative;
    width: 40%;
    background-color: rgba(12, 15, 18, 0.6);
    padding: 2%;
    border-radius: 24px;
}

.main-text {
    color: ghostwhite;
    background-blend-mode: difference;
    text-align: center;
    font-weight: bolder;
}

h1.main-text {
    margin: 0 auto;
    font-size: 32px;
    margin-bottom: 2%;
}

h2.main-text {
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 1%;
}

.lgn-box {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.lgn-form {
    width: 80%;
	text-align: center;
    margin: 2% auto;
    border: 0;
    box-sizing: border-box;
    padding: 2% 2% 2%;
}

.lgn-form p.main-text {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.fill-box {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    border: 5px solid azure;
    width: 80%;
    line-height: 18px;
    display: block;
    text-shadow: none;
    background-blend-mode: difference;
    box-shadow: 3px 6px 6px black;
}

input.admcp-lgn-view-btn {
    margin-top: 7%;
}

.admcp-lgn-view-btn {
    display: block;
    margin: 3% auto;
    border: 0;
    text-align: center;
    font-size: 18px;
    width: 80%;
    padding: 4px 10px 4px;
    background-color: #5DA9E9;
    cursor:pointer;
    line-height: 26px;
    text-shadow: none;
    box-shadow: 3px 6px 6px black;
    border-radius: 12px;
}

.admcp-lgn-view-btn:hover, .admcp-lgn-view-btn:focus, .admcp-lgn-view-btn:focus-within, .admcp-lgn-view-btn:active {
    background-color: blue;
    text-shadow: none;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 3px 6px 6px black;
}

.admcp-header-bar {
    width: 100%;
    line-height: 54px;
    margin: 0 auto;
    border-bottom: 2px solid #33b5e5;
}

.back-to-website {
    text-align: center;
    margin: 0 auto;    
    margin-left: 3.5%;
    line-height: 54px;    
    width: 10%;
    font-size: 18px;
    background: rgba(25, 28, 31, 0.7) center center no-repeat fixed;
    border: 0;
    border-left: 5px;
    border-style: groove;
    border-left-color: #33b5e5;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: darkgray;
}

.back-to-website:hover, .back-to-website:focus, .back-to-website:active {
    text-align: center;
    margin: 0 auto;    
    margin-left: 3%;
    line-height: 54px;
    background: rgba(23, 25, 28, 1) center center no-repeat fixed;
    border-left: 3px;
    border-style: ridge;
    border-left-color: ghostwhite;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: ghostwhite;
}

.admcp-logout-btn {
    text-align: center;
    position: absolute;
    right: 0%;
    margin: 0 auto;    
    margin-right: 3.5%;
    line-height: 54px;    
    width: 10%;
    font-size: 18px;
    background: rgba(25, 28, 31, 0.7) center center no-repeat fixed;
    border: 0;
    border-right: 5px;
    border-style: groove;
    border-right-color: #33b5e5;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: darkgray;
}

.admcp-logout-btn:hover, .admcp-logout-btn:focus, .admcp-logout-btn:active {
    text-align: center;
    margin: 0 auto;    
    margin-right: 3%;
    line-height: 54px;
    background: rgba(23, 25, 28, 1) center center no-repeat fixed;
    border-right: 3px;
    border-style: ridge;
    border-right-color: ghostwhite;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: ghostwhite;
}

output.bad-credentials {
    font-size: 16px;
    color: red;
    margin: auto;
    text-align: center;
}

.admcp-left-bar {
    display: inline-block;
    text-align: center;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 2%;
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    box-shadow: 3px 6px 6px rgba(0, 1, 2, 0.8);
    position: relative;
    width: 15%;
    background-color: rgba(12, 15, 18, 0.6);
    border-radius: 24px;    
}

.admcp-left-menu {
    margin: 5% auto;
    text-align: center;
    width: 90%;
}

div.admcp-menu-option {
    margin: 5% auto;
    text-align: center;
    width: 90%;
    line-height: 38px;
    font-size: 24px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    color: ghostwhite;
}

.admcp-rt-box {
    display: inline-block;
    float: right;
    margin: 0 auto;
    position: absolute;
    margin-right: 3%;
    margin-top: 2%;
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 24px;
    box-sizing: border-box;
    box-shadow: 3px 6px 6px rgba(0, 1, 2, 0.8);
    width: 70%;
}

.admcp-rt-content {
    margin: 1% auto;
    text-align: center;
    width: 95%;
    position: relative;
}

.dshb-cnt-line {
    margin: 1% auto;
    text-align: justify;
    width: 100%;
    line-height: 32px;
    font-size:24px;
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: ghostwhite;
}

#content, #show, #hide:target {
    display: none; 
}

#hide:target + #show, #hide:target ~ #content {
    display: initial; 
}

@media screen and (max-width: 600px) {    
    
    body {
        font-family: "Arial", Helvetica, serif;
        background: rgb(25, 28, 31) center center no-repeat fixed;
        background-size: cover;
        margin: 2% auto;
        border: 0;
    }
    
    .main-container {
        text-align: center;
        margin: 0 auto;
        border: 0 solid rgba(0, 0, 0, 0.9);
        box-sizing: border-box;
        box-shadow: 1px 4px 4px rgba(0, 1, 2, 0.8);
        position: relative;
        width: 70%;
        background-color: rgba(12, 15, 18, 0.6);
        padding: 2%;
        border-radius: 24px;
    }
    
    .main-text {
        color: ghostwhite;
        background-blend-mode: difference;
        text-align: center;
        font-weight: bolder;
    }
    
    h1.main-text {
        margin: 0 auto;
        font-size: 24px;
        margin-bottom: 2%;
    }
    
    h2.main-text {
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 1%;
    }
    
    .lgn-box {
        text-align: center;
        margin: 0 auto;
        position: relative;
        width: 90%;
    }
    
    .lgn-form {
        width: 90%;
        text-align: center;
        margin: 2% auto;
        border: 0;
        box-sizing: border-box;
        padding: 2% 2% 2%;
    }
    
    .lgn-form p.main-text {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
    }
    
    .fill-box {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5%;
        border: 3px solid azure;
        width: 90%;
        line-height: 18px;
        display: block;
        text-shadow: none;
        background-blend-mode: difference;
        box-shadow: 3px 6px 6px black;
    }
    
    input.admcp-lgn-view-btn {
        margin-top: 7%;
    }
    
    .admcp-lgn-view-btn {
        display: block;
        margin: 3% auto;
        border: 0;
        text-align: center;
        font-size: 16px;
        width: 90%;
        padding: 3px 9px 3px;
        background-color: #5DA9E9;
        cursor:pointer;
        line-height: 26px;
        text-shadow: none;
        box-shadow: 3px 6px 6px black;
        border-radius: 12px;
    }
    
    .admcp-lgn-view-btn:hover, .admcp-lgn-view-btn:focus, .admcp-lgn-view-btn:focus-within, .admcp-lgn-view-btn:active {
        background-color: blue;
        text-shadow: none;
        color: #ffffff;
        border-radius: 50%;
        box-shadow: 3px 6px 6px black;
    }    
}